mat-selection-list {
  width: 100%;
  mat-list-option {
    width: 100%;
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
