<mat-dialog-content>
    <h2 mat-dialog-title>{{ title }}</h2>
  
    <form class="tipo-produto-form" (onSubmit)="onSubmit()">

      <div class="form-fields">
        <mat-form-field appearance="outline" class="full-two-column">
          <mat-label>Nome</mat-label>
          <input color="primary" matInput [(ngModel)]="unidadeMedida.name" name="unidadeMedida.name"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-two-column">
          <mat-label>Sigla</mat-label>
          <input color="primary" matInput [(ngModel)]="unidadeMedida.sigla" name="unidadeMedida.sigla" (ngModelChange)="unidadeMedida.sigla = $event.toUpperCase()"/>
        </mat-form-field>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="onSubmit()">Salvar</button>
  </mat-dialog-actions>
  