<div class="header">
  <p>MENU</p>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="background-color: darkorchid;">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="mat-tree-menu-item">
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>