<mat-dialog-content>
  <form class="registrar-uso-form" (onSubmit)="onSubmit()">
    <div class="center-div">
      <h2 mat-dialog-title>Registrar Uso</h2>

      <form class="registrar-uso-form" (onSubmit)="onSubmit()">
        <div class="produto-input">
          <app-produto-input
            (produtoSelecionadoEvent)="selecionaProduto($event)"
          ></app-produto-input>
        </div>

        <div class="actions">
          <button mat-button (click)="buscarItensProduto()">
            Buscar itens
          </button>
        </div>

        <div class="form-fields">
          <mat-selection-list
            #itens
            [multiple]="false"
            (selectionChange)="
              getItemSelecionado(itens.selectedOptions.selected)
            "
          >
            <mat-list-option *ngFor="let item of produtoItens" [value]="item">
              <div>
                <span>{{ item.lote }}</span>
                <span>{{ item.dataValidade | date : "dd/MM/yyyy" }}</span>
                <span>{{ item.quantidade }}</span>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>

        <br />

        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Unidade</mat-label>
            <mat-select
              [(ngModel)]="registrarUso.idUnidade"
              name="registrarUso.idUnidade"
            >
              <mat-option
                *ngFor="let unidade of unidades | async"
                [value]="unidade.id"
              >
                {{ unidade.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Data validade</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="registrarUso.dataHora"
              name="registrarUso.dataHora"
              required
              appDateMask
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Atendimento</mat-label>
            <input
              type="text"
              color="primary"
              matInput
              [(ngModel)]="registrarUso.numeroAtendimento"
              name="registrarUso.numeroAtendimento"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Salvar</button>
</mat-dialog-actions>
