<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="teatime-icon"
    aria-label="teatime icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Teatime App</span>
  <span class="teatime-spacer"></span>
  <span *ngIf="this.auth.user$ | async as user">
    {{ user.nickname }}
  </span>
  <button
    mat-icon-button
    class="teatime-icon"
    aria-label="teatime icon-button with share icon"
    matTooltip="Fazer login"
    matTooltipPosition="above"
    matTooltipHideDelay="500"
    (click)="login()"
    *ngIf="!(this.auth.isAuthenticated$ | async)"
  >
    <mat-icon>login</mat-icon>
  </button>
  <button
    mat-icon-button
    class="teatime-icon"
    aria-label="teatime icon-button with share icon"
    matTooltip="Fazer logout"
    matTooltipPosition="above"
    matTooltipHideDelay="500"
    (click)="logout()"
    *ngIf="this.auth.isAuthenticated$ | async"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="teatime-container" autosize>

  <mat-drawer #drawer class="teatime-sidenav-menu" mode="side" >
    <app-tree-menu></app-tree-menu>
  </mat-drawer>

  <div class="teatime-sidenav-content">
    <h5>Jadson Mezzari Dagostin</h5>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
