.teatime-spacer {
  flex: 1 1 auto;
}

.teatime-sidenav-content {
  display: flex;
  height: calc(100vh - 64px);
  flex-direction: column;
}

.teatime-sidenav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}