.vencimento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.quantidade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.precificacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}