<!-- <span class="vencimento">
    <app-card-dashboard title="3 Produtos" subtitle="Vencidos" content="No seu estoque!" icon="inventory_2"></app-card-dashboard>
    <app-card-dashboard title="10 Produtos" subtitle="Vencerão em 1 mês" content="No seu estoque!" icon="today"></app-card-dashboard>
    <app-card-dashboard title="15 Produtos" subtitle="Vencerão em 3 meses" content="No seu estoque!" icon="date_range"></app-card-dashboard>
    <app-card-dashboard title="30 Produtos" subtitle="Vencerão em 6 meses" content="No seu estoque!" icon="calendar_month"></app-card-dashboard>
</span>
-->

<h1>Dashboard de produtos</h1>

<mat-chip-listbox
  class="center-filter"
  aria-label="Selecione uma opção de filtro."
>
  <mat-chip-option
    *ngFor="let button of filterButtons"
    #matOption
    (click)="findProdutos(matOption.selected, button.action)"
  >
    {{ button.nome }}
  </mat-chip-option>
</mat-chip-listbox>

<h3>Foi encontrado {{ produtos.length }} produtos</h3>

  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let produto of produtos">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ produto.codigo }} - {{ produto.nome }} - ({{ produto.marca }})
        </mat-panel-title>
        <mat-panel-description> {{ descricao }} </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Estoque: {{ produto.estoque }}</p>
      <p>Estoque Mínimo: {{ produto.estoqueMin }}</p>
      <p>Estoque Máximo: {{ produto.estoqueMax }}</p>
    </mat-expansion-panel>
  </mat-accordion>
