.center-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .mat-elevation-z8 {
        button {
            border: none;
        }
    }
    .mat-column-star {
        text-align: right;
    }
}

.menu-botoes {
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    text-align: right;
    justify-content: right;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}